@media only screen and (min-width: 768px) {
.menuicon {
    border-radius: 0px;
}
.logo {
    margin-left: 20px;
}
#heading {
    margin-left: 10px;
}
#search {
    margin-left: 110px;
    width: 55%;
    height: 65%;
    border-radius: 5px;
}

#icons {
    margin-left: 50px;
}

.icon {
    margin-left: 20px;
    cursor: pointer;
}
.profile-logo {
    position: relative;
    top: 5.5px;
    background-color: none;
}
.appicon {
    margin-left: 100px;
}
.sidenav {
    width: 8.5%;
    position: fixed;
}
}

/* for responsive design */
@media only screen and (max-width: 769px) {
    .menuicon {
        border-radius: 0px;
    }
    .container {
        width: 500px;
    }
    .logo {
        margin-left: 2px;
    }
    #heading {
        margin-left: 10px;
    }
    #search {
        margin-left: 30px;
        width: 220px;
        border-radius: 5px;
    }
    
    #icons {
        margin-left: 5px;
        display: none;
    }
    
    .icon {
        margin-left: 5px;
        display: none;
        cursor: pointer;
    }
    .profile-logo {
        position: relative;
        top: 5.5px;
        right: 0px;
        background-color: none;
    }
    .appicon {
        margin-left: 25px;
        display: none;
    }
    .sidenav {
        width: 8.5%;
        position: fixed;
    }
}