.menuicon {
    border-radius: 0px;
}
.logo {
    margin-left: 20px;
}
#heading {
    margin-left: 10px;
}
#search {
    margin-left: 110px;
    width: 55%;
    height: 65%;
    border-radius: 5px;
}

#icons {
    margin-left: 50px;
}

.icon {
    margin-left: 20px;
}

.appicon {
    margin-left: 50px;
    margin-right: 20px;
}
.sidenav {
    width: 8.5%;
    position: fixed;
}
.content {
    display: flex;
    flex-direction: row;
}
.container-content {
    margin-left: 10%;
}
.example-container {
    width: 130vw;
    height: 80vh;
    margin: 12px;
    border: 1px solid #555;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }