<main>
  <form [formGroup] = "registerForm" (ngSubmit)="registerUser()">
  <div class="container">
    <div class="content">
      <div class="google">
        <span class="l1">G</span><span class="l2">o</span><span class="l3">o</span><span class="l4">g</span><span class="l5">l</span><span class="l6">e</span>
      </div>
        <p id="create">Create your Google Account</p>
        <label for="name" id="name"></label>
        <div class="names">
          <div class="firstName">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name*" formControlName="firstName" id="firstName">
          </mat-form-field>
          <div style="color: red;" *ngIf="submitted && f?.['firstName']?.errors?.['minlength']">First Name should contain atleast 3 characters</div>
            <div style="color: red;" *ngIf="submitted && f?.['firstName']?.errors?.['required']">First Name is required</div>
        </div>
        <span id="names">ln</span>
        <div class="lastName">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name*" formControlName="lastName" id="lastName">
        </mat-form-field>
        <div style="color: red;" *ngIf="submitted && f?.['lastName']?.errors?.['minlength']">Last Name should contain atleast 3 characters</div>
          <div style="color: red;" *ngIf="submitted && f?.['lastName']?.errors?.['required']">Last Name is required</div>
      </div>
        </div>

        <div class="image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWhCs4f2YW-VqYSm1zPkcdznlX95UOuiO8tw&usqp=CAU" alt="security" class="security">
          <p class="img-content">One account. All of Google working for you.</p>
        </div>
        
        <mat-form-field appearance="outline">
          <mat-label>username</mat-label>
          <input matInput placeholder="username" formControlName="email" id="username">
          <label for="username" class="condition">you can use letters, numbers & periods</label>
        </mat-form-field>
        <div style="color: red;" *ngIf="submitted && f?.['email']?.errors?.['required']">Email is required</div>
          <div style="color: red;" *ngIf="submitted && f?.['email']?.errors?.['email']">Email must be a valid email address</div>
        <p class="email">Use my current email instead</p>
        <div class="password">
           <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password*" formControlName="password" id="password">
          </mat-form-field>
          <div style="color: red;" *ngIf="submitted && f?.['password']?.errors?.['required']">Password is required</div>
          <div style="color: red;" *ngIf="submitted && f?.['password']?.errors?.['minlength']">Password must be atleast 6 characters</div>
          <span id="names">ln</span>
          <mat-form-field appearance="outline">
            <mat-label>Confirm</mat-label>
            <input matInput placeholder="Confirm*" id="confirmPassword">
          </mat-form-field>
        </div>
        <p>Use 8 or more characters with a mix of letters, numbers & symbols</p>
        <input type="checkbox" name="Show" id="show">Show Password
        <div class="footer">
          <p><a href="http://localhost:4200/login" class="signin">Sign in instead</a></p>
          <button mat-raised-button color="primary" id="next">Next</button>
          
        </div>
    </div>
</div>
</form>
</main>