@media only screen and (min-width: 768px){
.notecard-cnt {
  border-radius: 5px;
  border: 1px solid black;
    width: 240px;
    height: 100px;
    position: relative;
    top: 35px;
    left: 100px;
}
.notecard-icons-cnt{
    padding-left: 10px;
    display:flex;
    gap:8%;
    position: relative;
    top: 52px;
    display: none;
}
.notecard-cnt:hover .notecard-icons-cnt {
  display: block;
}
.notecard-cnt.top-shift {
  margin-top: 100px;
}
.notecard-cnt.list-view {
  margin-left: 29%;
  width: 39.5vw;
}
.notecard-title-cnt {
    position: relative;
    top: 5px;
    left: 5px;
}
.notecard-desc-cnt {
    position: absolute;
    top: 30px;
    left: 5px;
}
.delete-cnt {
    cursor: pointer;
    display: flex;
    gap: 1px;
    mix-blend-mode: multiply;
}
.notecard-cnt:hover .delete-cnt {
  display: block;
}
.delete-cnt-icon {
  cursor: pointer;
  mix-blend-mode: multiply;
}
.delete-cnt-icon.list-view {
  position: relative;
  right: 30px;
}
.notecard-icons:hover .delete-forever-icon {
  display: block;
}
.delete-forever-icon {
  margin-right: 15px;
}
.color-palette-icon {
    cursor: pointer;
  }

.colorMenu{
    display: flex;

}
.colorOptions
  {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    border: 1px solid black;
  }
  .icon-remainder {
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
  }
  .collabrator-icon {
    margin-right: 15px;
  }
  .color-palatte-icon{
    margin-right: 15px;
    cursor: pointer;
  }
  .img-icon {
    margin-right: 15px;
  }
  .unarchive-icon {
    margin-left: 0px;
    padding-right: 10px;
    font-size: 15px;
    cursor: pointer;
  }
  .archive-icon {
    padding-left: 5px;
    padding-right: 15px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  .notecard-cnt {
    border-radius: 5px;
    border: 1px solid black;
      width: 240px;
      height: 100px;
      position: relative;
      top: 35px;
      left: 130px;
  }
  .notecard-icons-cnt{
    display:flex;
    gap:8%;
    position: relative;
    top: 52px;
}
.notecard-cnt.top-shift {
  margin-top: 100px;
}
.notecard-cnt.list-view {
  margin-left: 27.5%;
  width: 41.5vw;
}
.notecard-title-cnt {
    position: relative;
    top: 5px;
    left: 5px;
}
.notecard-desc-cnt {
    position: absolute;
    top: 30px;
    left: 5px;
}
.delete-cnt {
    cursor: pointer;
    display: flex;
    gap: 1px;
}
.delete-cnt-icon {
  mix-blend-mode: multiply;
}
.delete-cnt-icon.list-view {
  position: relative;
  right: 30px;
}
.delete-forever-icon {
  margin-right: 15px;
}
.color-palette-icon {
    cursor: pointer;
  }

.colorMenu{
    display: flex;

}
.colorOptions
  {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    border: 1px solid black;
  }
  .icon-remainder {
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
  }
  .collabrator-icon {
    margin-right: 15px;
  }
  .color-palatte-icon{
    margin-right: 15px;
    cursor: pointer;
  }
  .img-icon {
    margin-right: 15px;
  }
  .unarchive-icon {
    margin-left: 10px;
    cursor: pointer;
  }
  .archive-icon {
    padding-left: 5px;
    cursor: pointer;
  }
}