::ng-deep .app-sidenav-cnt {
    display: flex;
    height: 600px;
}

mat-drawer-content {
    width:1300px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }