@media only screen and (min-width: 768px){
::ng-deep .app-sidenav-cnt {
    display: flex;
    height: 600px;
}

mat-drawer-content {
    width:1300px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sidenav-icons-cnt{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding-left: 12px;
  }
  .note-icon {
    padding-top: 5px;
  }
  .icon {
    margin-top: 25px;
    mix-blend-mode: multiply;
  }
  .note-icon {
    margin-left: 15px;
    margin-right: 8px;
    margin-top: 5px;
    cursor: pointer;
  }
  .res-note-icon {
    display: none;
  }
  .res-icon {
    display: none;
  }
  .res-trash-icon {
    display: none;
  }
  .icon {
    margin-left: 15px;
    margin-right: 8px;
    cursor: pointer;
  }
  .redirect {
    position: relative;
    top: 12px;
    margin-right: 5px;
    cursor: pointer;
  }
  .reminder {
    position: relative;
    top: 22px;
    padding-right: 5px;
  }
  .edit {
    position: relative;
    top: 30px;
  }
  .archive-redirect {
    position: relative;
    top: 40px;
    left: 0px;
    cursor: pointer;
  }
  .trash-icon {
    position: relative;
    top: 55px;
    right: 8px;
    cursor: pointer;
  }
  .trash-redirect {
    position: relative;
    bottom: 6px;
    left: 8px;

  }
}
  @media only screen and (max-width: 769px) {
    mat-drawer-content {
      width:1300px;
      height: 530px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .sidenav-icons-cnt {
      display: none;
    }
    .res-note-icon {
      margin-left: 15px;
      margin-right: 8px;
      margin-top: 5px;
      cursor: pointer;
    }
    .res-icon {
      margin-left: 15px;
      margin-right: 8px;
      cursor: pointer;
    }
  
    .redirect {
      position: relative;
      bottom: 6px;
      margin-right: 5px;
      cursor: pointer;
    }
    .reminder {
      position: relative;
      bottom: 6px;
      padding-right: 2px;
    }
    .edit {
      position: relative;
      bottom: 5px;
    }
    .archive-redirect {
      position: relative;
      bottom: 26px;
      left: 48px;
      cursor: pointer;
    }
    .trash-icon {
      position: relative;
      bottom: 19px;
      left: 15px;
      cursor: pointer;
    }
    .trash-redirect {
      position: relative;
      bottom: 6px;
      left: 8px;
    }
  }