<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<main>
    <form [formGroup] = "loginForm" (ngSubmit) = "loginUser()">
    <div class="container">
      <div class="content">
        <div class="google">
          <span class="l1">G</span><span class="l2">o</span><span class="l3">o</span><span class="l4">g</span><span class="l5">l</span><span class="l6">e</span>
        </div>
      </div>
          <p class="login" style="font-size: 20px;">Login</p>
          <p class="login">Use your Google Account</p>
          <div class="email">
          <mat-form-field appearance="outline" id="login">
            <mat-label>Email or phone</mat-label>
            <input matInput placeholder="Email or phone*" formControlName="email">
            </mat-form-field>
            <div style="color: red;" *ngIf="submitted && f?.['email']?.errors?.['required']" id="email">Email is required</div>
            <div style="color: red;" *ngIf="submitted && f?.['email']?.errors?.['email']">Email must be a valid email address</div>
          </div>
          <div class="password">
          <mat-form-field appearance="outline" id="password">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password*" formControlName="password">
            </mat-form-field>
            <div style="color: red;" *ngIf="submitted && f?.['password']?.errors?.['required']" id="pass">Password is required</div>
          </div>
          <p id="forgot">forgot Password?</p>
          <div class="footer">
            <p id="createAccount"><a href="http://localhost:4200/register" id="createAccount">Create account</a></p>
            <button mat-raised-button color="primary" id="log">Login</button>
          </div>
    </div>
  </form>
  </main>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  <router-outlet></router-outlet>
  