@media only screen and (min-width: 769px){
  .note-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5%;
    width: 900px;
    margin-top: 65px;
}
.note-card.grid-view {
    width: 1200px;
    margin-top: 65px;
  }
  .note-card.list-view {
    display: flex;
    flex-direction: column;
    margin-left:8.2%;
    width: 312.5px;
  }
}

@media only screen and (max-width: 768px){
  
  .note-card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5%;
      width: 45vw;
      margin-top: 65px;
  }
  .note-card.grid-view {
      width: 40vw;
      margin-top: 65px;
    }
    .note-card.list-view {
      display: flex;
      flex-direction: column;
      margin-left:8.2%;
      width: 312.5px;
    }
  }