.archivenotes{
      width:100vw;
      height:40vh;
      display:flex;
      flex-wrap:wrap;
      gap:1.5%;
      row-gap: 6%;
}

.archivenotes.list-view {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 50vw;
      margin-left: 75px;
      row-gap: 6%;
}

